extends ../base


block body
	.row(ng-controller="ShowSeasonController")
		.large-12.columns
			h3.subheader {{object.show.TITLE}} 
			h5.subheader Season {{ object.episodes[0].SEASON }}

		
		.large-12.columns(ng-repeat="episode in object.episodes")
			form(ng-submit="updateEpisode(episode)")
				
				.row.collapse
					.small-2.columns: span.prefix S{{ episode.SEASON }}E{{ episode.EPISODE }}
					.small-8.columns: input(type="text", ng-model="episode.TITLE")
					.small-2.columns: button(type="submit").postfix.button.success.radius.small Update
