extends ../base

block body
	.row(ng-controller="ShowController")
		.large-12.columns
			h3.subheader {{object.show.TITLE}}

		.large-12.columns: img(ng-src="#{ imageserver }/{{ object.poster.WALLPAPER || object.poster.POSTER }}")
		.large-12.columns: h3.subheader Seasons
		.large-12.columns: hr
		.large-12.columns(ng-repeat="season in object.seasons")
			.row
				.small-6.columns
					a(ng-href="/shows/{{ object.show.ID }}/seasons/{{ season.SEASON }}") Season {{ season.SEASON }}
				.small-6.columns
					| Episodes {{ season.EPISODES }}
				hr
