extends ../base

block body
	.row(ng-controller="ShowController")
		.large-12.columns
			h3.subheader {{object.show.TITLE}}

		.large-12.columns: img(ng-src="#{ imageserver }/{{ object.poster.WALLPAPER || object.poster.POSTER }}")

		.large-12.columns: hr

		.large-12.columns
			table.large-12
				thead
					th Season
					th Episodes
					th
				tbody
					tr(ng-repeat="season in object.seasons")
						td {{ season.SEASON }}
						td Episodes {{ season.EPISODES }}
						td: a(ng-href="/shows/{{ object.show.ID }}/seasons/{{ season.SEASON }}").button.tiny.radius.rounded view
		
